body, html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
#root, .container, .main, .main__container {
  height: 100%;
}
.header__container {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  height: 200px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__logo {
  width: 150px;
  height: 150px;
}

.header__title {
  font-family: 'Nothing You Could Do';
  color: rgba(200, 124, 171, 1);
  font-size: 55px;
}

@media screen and (max-width: 407px) {
  .header__title { font-size: 33px; }
}

.main__container {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 404px) {
  .main__container { padding-top: 500px; }
}

.main__buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 404px) {
  .main__buttons-container { flex-direction: column; }
}

.main__button {
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 30px;
  color: rgb(138, 37, 97);
  text-decoration: none;
  border: 1px solid gray;
  padding: 55px 55px;
  margin: 5px;
}

.main__button:hover {
  background-color: rgba(200, 124, 171, 1);
}
.menu__container {
  position: fixed;
  left: 0;
  top: 198px;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
}

.menu__link {
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 25px;
  color: rgb(199, 121, 168);
  text-decoration: none;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 45px;
}

.menu__link:hover, .menu__link_active {
  color: rgb(138, 37, 97);
}

.menu__title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 3px;
}

.content__container {
  flex-direction: column;
  padding-left: 160px;
  padding-top: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.content__title {
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 40px;
  color: rgb(65, 60, 56);
  text-decoration: none;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  background-color: #d189b5;

}

.content__text {
  text-align: center;
  padding: 0px 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
}